@model WebEnterprise.Models.MarketingCoordinator

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="utf-8">
    <title>university magazine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="~/Content/edit.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"></script>
</head>

<body>
    <h2>Create</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-style-3">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <form>
                <fieldset>
                    <legend>Marketing Coordinator</legend>
                    <label for="field1">
                        <span>ID<span class="required">*</span></span>
                        @Html.EditorFor(model => model.MCID, new { htmlAttributes = new { @class = "form-control" } })
                    </label>
                    <label for="field2">
                        <span>MC<span class="required">*</span></span>
                        @Html.EditorFor(model => model.MCName, new { htmlAttributes = new { @class = "form-control" } })
                    </label>
                    <label for="field3">
                        <span>Address<span class="required">*</span></span>
                        @Html.EditorFor(model => model.MCAddress, new { htmlAttributes = new { @class = "form-control" } })
                    </label>
                    <label for="field3">
                        <span>Phone<span class="required">*</span></span>
                        @Html.EditorFor(model => model.MCPhone, new { htmlAttributes = new { @class = "form-control" } })
                    </label>
                    <label for="field3">
                        <span>Gmail<span class="required">*</span></span>
                        @Html.EditorFor(model => model.MCEmail, new { htmlAttributes = new { @class = "form-control" } })
                    </label>
                    <label for="field3">
                        <span>Faculty<span class="required">*</span></span>
                        @Html.DropDownList("FacultyID", null, htmlAttributes: new { @class = "form-control" })
                    </label>
                    <label for="field3">
                        <span>UserName<span class="required">*</span></span>
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    </label>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    }
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>