@model WebEnterprise.Models.MarketingCoordinator

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MarketingCoordinator</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MCName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MCName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MCAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MCAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MCPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MCPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content.CTName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content.CTName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CTTag1.CTTag1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CTTag1.CTTag1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MCID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
