@model IEnumerable<WebEnterprise.Models.ConTent>
@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link rel="stylesheet" href="~/Content/Style-magazine.css">
</head>
<body>
<div class="jumbotron">
    <h1>GREENWICH VIET NAM MAGAZINE</h1>
    <p class="lead">Here we allow all students to post content that students love to share with everyone and together contribute and evaluate the content.</p>
    <p><a href="https://cms.greenwich.edu.vn/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.CTName)</th>
        <th>@Html.DisplayNameFor(model => model.CTDescription)</th>
        <th>@Html.DisplayNameFor(model => model.CTTag)</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.CTName)</td>
            <td>@Html.DisplayFor(modelItem => item.CTDescription)</td>
            <td>@Html.DisplayFor(modelItem => item.CTTag)</td>
        </tr>
    }
</table>

<div class="contentleft">
    <div class="feature clearfloat" id="lead">
        <a href="#"><img src="images/armbot.jpg" alt="" id="leadpic" /></a>
        <h3>
            <a href="#">Information Technology</a><br />
        </h3>
        <a href="#" class="title"> Open Bionics Bionic Arm </a>
        <p>Open Bionics is an award-winning startup based in England that has partnered with Deus Ex and Razer to create a bionic arm that is extremely reminiscent of Adam Jensen’s arm from the Deus Ex game. The prosthetic is still in the early stages, but the open source technology will be freely released to everyone for in-home 3D-printing.</p> </br>
    </div>
    <div class="feature clearfloat" id="lead">
        <a href="#"><img src="images/artwork.jpg" alt="" id="leadpic" /></a>
        <h3>
            <a href="#">Graphic Design</a><br />
        </h3>
        <a href="#" class="title"> Environment Design & Concept Art for Video Games with Sylvain Sarrailh </a>
        <p>You can now already enroll for our next IAMAG University Workshop: iPad Concept Art Techniques with Procreate, by Nikolai Lockertsen. Check out the schedule and don’t miss your chance to get one of the very limited seat assist Nikolai’s Workshop.</p></br>
        {<a href="#">More&raquo;</a>}
    </div>
    <div class="feature clearfloat" id="lead">
        <a href="#"><img src="images/leadpic.jpg" alt="" id="leadpic" /></a>
        <h3>
            <a href="#">Business management</a><br />
        </h3>
        <a href="#" class="title"> FASHION BUSINESS MANAGEMENT </a>
        <p>You are viewing the demo for Mimbo v2.1, now <a href="#">available for download</a>. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.</p></br>
        {<a href="#">More&raquo;</a>}
    </div>
</div>
<div class="contentright">
    <div class="News">
        <div class="clearfloat">
            <h1><a href="#">Popular magazine</a></h1></br>
            <a href="#"><img src="images/minismart.jpg" alt="" id="subpic" /></a> <a href="#" class="title">Sudroid SOYES The World's Smallest Cell Phone 2&raquo;</a>
            <p>Smallest Cell Phone 2.5 Inch Android Small Phone Quad Core 1G+8G 5.0MP Dual SIM High Definition Mini Phones Unlocked 3G Mobile Phone (Black)</p>
        </div></br>
        <div class="clearfloat">
            <a href="#"><img src="images/mark.jpg" alt="" id="subpic" /></a> <a href="#" class="title">Diam nonummy nibh euismod&raquo;</a>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        </div></br>
        <div class="clearfloat">
            <a href="#"><img src="images/shoes.jpg" alt="" id="subpic" /></a> <a href="#" class="title">Erat volutpat ut wisi&raquo;</a>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidun. Adipiscing elit, sed diam nonummy nibh euismod tincidun. Sed diam nonummy nibh euismod tincidun.</p>
        </div></br>
    </div>
</div>
<div class="footer">
    <div class="infomation">
        <h3>About Us</h3>
        <a href="">Contact Info</a>
        <a href="">Warranty Procedure</a>
        <a href="">Regulation of Return</a>
        <a href="">Trading Conditions</a>
        <a href="">Privacy Policy</a>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </div>
    <div class="infomation">
        <h3>Customer Care</h3>
        <p>Hotline: </p>
        <p style="font-size: 15px; line-height: 0;">0389757021</p>
        <p>Email: </p>
        <p style="font-size: 15px; line-height: 0;">datnthe130826@fpt.edu.vn</p>
        <p>Serving Time: </p>
        <p style="font-size: 15px; line-height: 0;">8 AM to 11 PM / Monday to Saturday</p>
    </div>
    <div class="infomation">
        <h3>Showroom</h3>
        <p>- Floor 6 Ho Guom Plaza, 107 Tran Phu, Ha Noi</p>
        <p style="font-size: 15px; line-height: 0;">Phone: 024.73.003.568</p>
        <p>- 1022 CMT8, P5, Tan Binh, Ho Chi Minh City </p>
        <p style="font-size: 15px; line-height: 0;">Phone: 028.3846.4672</p>
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
