@model IEnumerable<WebEnterprise.Models.ConTent>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GREENWICH VIET NAM MAGAZINE</h1>
    <p class="lead">Here we allow all students to post content that students love to share with everyone and together contribute and evaluate the content.</p>
    <p><a href="https://cms.greenwich.edu.vn/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.CTName)</th>
        <th>@Html.DisplayNameFor(model => model.CTDescription)</th>
        <th>@Html.DisplayNameFor(model => model.CTTag)</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.CTName)</td>
            <td>@Html.DisplayFor(modelItem => item.CTDescription)</td>
            <td>@Html.DisplayFor(modelItem => item.CTTag)</td>
        </tr>
}
</table>