@using WebEnterprise.Models;
@model WebEnterprise.Models.ContentAssign

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ContentAssign</h4>
    <hr />

    <table>
        <td>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Topic.TopicName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Topic.TopicName)
                </dd>
                <dt>
                    @*@Html.DisplayNameFor(model => model.Content.Data)*@
                </dt>
                <dd>
                    @if (Model.Content.Data2 != null)
                    {
                        var base64 = Convert.ToBase64String(Model.Content.Data2);
                        var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                        <img src="@imgsrc" width="150" height="200" />
                    }
                    else
                    {
                        <img src="~/images/default.jpg"
                             style="max-width:100px;max-height:100px" />
                    }


                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Content.CTName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Content.CTName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Content.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Content.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.MarketingCoordinator.MCName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MarketingCoordinator.MCName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.StatusID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Status.GiveStatus)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CommentA)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CommentA)
                </dd>

                <dd>
                    @ViewBag.cmt
                </dd>


            </dl>
        </td>
        <td width="450px"></td>

        <td>
            <table cellspacing="0" cellpadding="0" border="0" width="325" ">
                <tr>
                    <td>
                        <table cellspacing="0" cellpadding="1" border="1" width="600">
                            <tr style="color:white;background-color:grey">
                                <th>Comment</th>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="width:600px; @*height:600px*@; overflow:auto;">
                            <table cellspacing="0" cellpadding="1" border="1" width="600" height="300px">
                                @foreach (var item in ViewBag.Comments)
                                {
                                    <tr>
                                        <th width="40%" height="30px">(@item.CommentDate)&ensp;@item.AuthorName :&ensp; <a>@item.CommentText</a> </th>
                                        @*<td>@item.CommentText </td>*@
                                    </tr>
                                }
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
            <p>
                @Html.ActionLink("Comment", "WriteCMT", new { id = Model.CTassignID })
            </p>
        </td>
    </table>


</div>
<p>
    @Html.ActionLink("Comment", "WriteCMT", new { id = Model.CTassignID }) |
    @if (User.IsInRole("Student"))
    {
        @Html.ActionLink("Back to list", "ViewALL")
    }
    @if (User.IsInRole("MarketingCoordinator"))
    {
        @Html.ActionLink("Back to list", "Index")
    }
</p>