@model WebEnterprise.Models.Student
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/edit.css">
    <title>Document</title>
</head>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-style-3">
        <form>
            <fieldset>
                <legend>Edit Student</legend>
                <label for="field1">
                    <span>
                        StudentID<span class="required">*</span>
                    </span>
                    @ViewBag.StdID
                </label>
                <label for="field2">
                    <span>Studentname<span class="required">*</span></span>
                    @Html.EditorFor(model => model.StudentName, new { htmlAttributes = new { @class = "form-control" } })
                </label>
                <label for="field3">
                    <span>StudentAddress<span class="required">*</span></span>
                    @Html.EditorFor(model => model.StudentAddress, new { htmlAttributes = new { @class = "form-control" } })
                </label>
                <label for="field3">
                    <span>DOB<span class="required">*</span></span>

                    @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control" } })
                </label>
                <label for="field3">
                    <span>FacultyID<span class="required">*</span></span>
                    @ViewBag.Fac
                </label>
                <label for="field3">
                    <span>UserName <span class="required">*</span></span>

                    @ViewBag.uName
                </label>
                <label for="field3">
                    <span>StudentEmail<span class="required">*</span></span>
                    @Html.EditorFor(model => model.StudentEmail, new { htmlAttributes = new { @class = "form-control" } })
                </label>
            </fieldset>
        </form>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "MCProfile")
</div>
<div>
    @Html.ActionLink("Back", "StdProfile")
</div>